<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.Infectious3dMapper">

    <insert id="initInfectious">
        CREATE CONSTRAINT ON (c:Infectious) ASSERT c.name IS UNIQUE
    </insert>

    <insert id="insertInfectious">
        CREATE (c:Infectious) SET c.name= #{infectiousName}
    </insert>

    <select id="isExits" resultType="java.lang.Long">
        match(c:Infectious) where c.name=#{infectiousName} return COUNT(*)
    </select>

</mapper>