<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.Ingredients3dMapper">

    <insert id="initIngredients">
        CREATE CONSTRAINT ON (i:Ingredients) ASSERT i.name IS UNIQUE
    </insert>

    <insert id="insertIngredients">
        CREATE (i:Ingredients) SET i.name= #{ingredientsName}
    </insert>

    <select id="isExits" resultType="java.lang.Long">
        match(i:Ingredients) where i.name= #{ingredientsName} return COUNT(*)
    </select>

</mapper>