<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.Operation3dMapper">

    <insert id="initOperation">
        CREATE CONSTRAINT ON (o:Operation) ASSERT o.name IS UNIQUE
    </insert>

    <insert id="insertOperation">
        CREATE (o:Operation) SET o.name= #{operationTherapyName}
    </insert>

    <select id="isExits" resultType="java.lang.Long">
        match(o:Operation) where o.name= #{operationTherapyName} return COUNT(*)
    </select>

</mapper>