<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.Pathogenesis3dMapper">

    <insert id="initPathogenesis">
        CREATE CONSTRAINT ON (p:Pathogenesis) ASSERT p.name IS UNIQUE
    </insert>

    <insert id="insertPathogenesis">
        CREATE (p:Pathogenesis) SET p.name= #{pathogenesisName}
    </insert>

    <select id="isExits" resultType="java.lang.Long">
        match(p:Pathogenesis) where p.name= #{pathogenesisName} return COUNT(*)
    </select>

</mapper>