<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.Symptom3dMapper">

    <insert id="initSymptom">
        CREATE CONSTRAINT ON (s:Symptom) ASSERT s.name IS UNIQUE
    </insert>

    <insert id="insertSymptom">
        CREATE (s:Symptom) SET s.name= #{symptomName}
    </insert>

    <select id="isExits" resultType="java.lang.Long">
        match(s:Symptom) where s.name=#{symptomName} return COUNT(*)
    </select>

</mapper>