<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.TreatmentPrograms3dMapper">

    <insert id="initTreatmentPrograms">
        CREATE CONSTRAINT ON (t:TreatmentPrograms) ASSERT t.name IS UNIQUE
    </insert>

    <insert id="insertTreatmentPrograms">
        CREATE (t:TreatmentPrograms) SET t.name= #{treatmentProgramsName}
    </insert>

    <select id="isExits" resultType="java.lang.Long">
        match(t:TreatmentPrograms) where t.name= #{treatmentProgramsName} return COUNT(*)
    </select>

</mapper>