<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.node.CheckNeo4jMapper">

    <resultMap id="disease" type="org.graduation.knowledge.model.node.Disease">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="prevent" property="prevent"/>
        <result column="cure_way" property="cureWay"/>
        <result column="cause" property="cause"/>
        <result column="cure_lasttime" property="cureLastTime"/>
        <result column="cured_prob" property="curedProb"/>
        <result column="cure_department" property="cureDepartment"/>
        <result column="easy_get" property="easyGet"/>
        <result column="desc" property="desc"/>
    </resultMap>


    <sql id="Disease_Column_List">
        m
        .
        name
        as name,
        m.prevent as prevent,
        m.cure_way as cure_way,
        m.cause as cause,
        m.cure_lasttime as cure_lasttime,
        m.cured_prob as cured_prob,
        m.cure_department as cure_department,
        m.easy_get as easy_get,
        m.desc as desc
    </sql>

    <select id="getDiseaseByCheckName" resultType="org.graduation.knowledge.model.node.Disease" resultMap="disease">
        MATCH (m:Disease)-[r:need_check]->(n:Check) where n.name =#{checkName}
        return
        <include refid="Disease_Column_List"></include>
    </select>
    <select id="countByName" resultType="java.lang.Long">
        MATCH (n:Check) where n.name = #{name}
        return count(n) limit 1
    </select>
</mapper>