<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.graduation.knowledge.mapper.neo4j.node.DepartmentNeo4jMapper">

    <select id="countByName" resultType="java.lang.Long">
        MATCH (d:Department) where d.name = #{name}
        return count(d) limit 1
    </select>
</mapper>